.services-section {
  padding: 40px 300px;
  background: #f9fafb;
  text-align: center;
  /* box-shadow: 0 0 20px 5px rgba(255, 123, 0, 0.6); */

}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* Wrapper */
.services-wrapper {
  position: relative;
  max-width: 1800px;
  margin: auto;
  
}

/* Horizontal container */
.services-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

/* Hide scrollbar */
.services-container::-webkit-scrollbar {
  display: none;
}
.services-container {
  scrollbar-width: none;
}

/* Card */
.service-card {
  min-width: 260px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px 5px rgba(255, 123, 0, 0.6);

}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  margin-bottom: 10px;
  color: #2563eb;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #2563eb;
  color: white;
  border: none;
  font-size: 22px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.arrow.left {
  left: -10px;
}

.arrow.right {
  right: -10px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .services-section {
  padding: 10px 20px;

}
  .arrow {
    /* display: none; */
  }

  .arrow{
    /* position: absolute; */
    /* top: 50%; */
  }
  .arrow.left{
    left: -18px;
  }
  .arrow.right{
    right: -18px;
  }
}


/* .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 25px;
  text-align: left;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
 } */