.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background: rgb(250, 248, 248);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand {
  display: flex;
  /* font-size: 30px; */
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #01091a;
}

.brand img {
  width: 90px;
}

.brand span{
  font-size: 31px;
}

.header-actions{
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 22px;
}

.particles {
  pointer-events: none;
}
.dark-toggle{
  width: 50px;
  height: 50px;
  
  
  border-radius:8px;
}

.watsapp{
  margin-top: 10px;
  background: #22c55e;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Mobile adjustments */

@media (max-width: 768px) {
  .header{
    padding: 0;
    margin-bottom: 10px;
  }
  .brand img {
    max-width: 50px;
  }

  .brand span {
    font-size: 12px;
  }

  .header-actions {
    margin-right: 2px;
    gap: 12px; /* smaller gap on mobile */
  }

  .dark-toggle{
    width: 25px;
    height: 25px;
  }
  .watsapp{
    
    font-size: 11px;
    font-weight: 700;
   
  }
}
