.bookmain{
  max-width: 500px;
   margin: auto;

  background-color: black;
}

.booking-box {
  max-width: 500px;
 
  background: white;
  padding: 35px;
  border-radius: 24px;
  box-shadow: 0 0 20px 5px rgba(255, 123, 0, 0.6);
  /* box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1); */
}

.booking-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-box input,
.booking-box select,
.booking-box textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}
